<header class="w-100" style="height:158px!important;">
    <div id="header" class=".container-fluid fixed-top w-100" style="background-color: rgba(0, 45, 75, 1); margin: 0; height: 158px;">
        <div id="image-wrapper" class="float-right" style="margin-right: 15px;">
            <div class="text-center vertical-center" style="margin-top: 12px;margin-bottom: 10px;">
                <img src="<%= imgAddress %>" alt="foto de <%= nome %>" style="height: 12vh; border-radius: 50%;">
                <p style="color: white;"><%= nome %></p>
    
            </div>
        </div>
        <div id="funci-wrapper" class="text-center mr-auto ">
            <img src="/img/logo_reconheSER.png" alt="logo-reconheser" style="height: 100px;margin: 12px 0 0 6px;">
            <p class="h4" style="color: white;padding-bottom: 7px;margin-bottom: 0;"><%= info.gecor %> - <%= info.prefixo %></p>
        </div>
    </div>
</header>